<h3>Contact us</h3>

<div class="row">
	<div class="col-sm-4">
		<address>
			Mai's Kitchen <br>
			9039 Bolsa Ave <br>
			Westminster, CA 92683 <br>
			USA <br>
			Tel: 714-765-5423
		</address>
	</div>

	<div class="col-sm-8">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6635.18368490063!2d-117.971405!3d33.745369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd27caaed9d6b5%3A0x7a376b81b136db84!2s9039+Bolsa+Ave%2C+Westminster%2C+CA+92683!5e0!3m2!1sen!2sus!4v1535790020301" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

</div>